[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "varTestnlme"]
	path = varTestnlme
	url = https://github.com/baeyc/vartestnlme
